#quotes-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 100px 20px 100px;
    

    i {
        color: #00cc00;
        margin: 0px 50px;
        font-size: 5em;
        
    }
    .content {
        font-size: 2em;
        text-align: left;
    }
    .title {
        text-align: left;
        
    }
    .merged {
        flex-direction: column;
    }
}

button {

    font-family: 'Rock Salt', cursive;
    padding: 10px 40px;
    font-size: 1.5em;
    color: #00cc00;
    border-color: #00cc00;
    background: none;
    border-radius: 2px;
}

footer {
    bottom: 0;
   
    ul{
        display: flex;
        position: relative;
        align-content: center;
        justify-content: space-around;
        font-size: 1.3em;
        

    li{
        list-style-type: none;
        color:#00cc00;
        padding: 15px;
        margin: 30px;
        text-decoration: none;
        a {
            text-decoration: none;
            color:#00cc00;
        }
        
        }
    
    }
    p {
        color: #00cc00;
        span{
            color: white;
            padding: 0px 15px 0px 0px;
        }

    }
}

.submit-section {
    margin: 0px;
    font-size: 2em;
}

#submit-button{
    margin: 100px;
}

form {
    input{
        margin: 30px;
    }
}