#quotes-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 50px 0px 50px;
    i {
        color: #00cc00;
        margin: 0px 10px;
        font-size: 4em;      
    }
    .content {
        font-size: 1.2em;
        text-align: left;
    }
    .title {
        text-align: left;
        
        a {
            text-decoration: none;
            color: #00cc00;
            margin-left: 10px;
        }
    }
    .merged {
        flex-direction: column;
    }
}

button {
    font-family: 'Rock Salt', cursive;
    padding: 10px 40px;
    font-size: 1.2em;
    color: #00cc00;
    border-color: #00cc00;
    background: none;
    border-radius: 2px;
}

footer {
    
    height: 50px;
    
    
    ul{
        display: flex;
        position: relative;
        align-content: center;
        justify-content: space-around;
        font-size: 1.3em;      
        li{
            list-style-type: none;
            color:#00cc00;
            text-decoration: none;
            a{
                text-decoration: none;
                color:#00cc00;
            }
        }
    }

    p {
        color: #00cc00;
        span{
            color: white;
            padding: 0px 15px 0px 0px;
        }
    }
}

.submit-section {
    margin: 0px;
    font-size: 2em;
    p{
        margin: 0px;
    }
}

#submit-button{
    margin-top: 30px;
    border-radius: 2px;
}

form {
    #quote-title{ 
        background-color: #222222;
        border: 1px solid #00cc00;
        color: white;    
        border-radius: 2px;
        margin-bottom: 15px;
        
    }
    #quote-content{
        background-color: #222222;
        border: 1px solid #00cc00;
        color: white; 
        border-radius: 2px;
        

    }
    #quote-source{
        background-color: #222222;
        border: 1px solid #00cc00;
        color: white; 
        border-radius: 2px;
        margin-bottom: 15px;
       
    }
    #quote-url{
        background-color: #222222;
        border: 1px solid #00cc00;
        color: white;
        border-radius: 2px;
       
    }

}

#about-title{
    h2{
    align-items: center;
    }
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 100px 20px 100px;
        #about-content {
            font-size: 1em;
            text-align: left;  
                p{
                    margin: 0px;
                }
                span {
                    color: #00cc00;
                }
        }
}

.broken-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .broken-content {
        flex-direction: column;
        text-align: left;
    }
    i {
        font-size: 5em;
        color: #00cc00;
        margin: 0px 30px;
    } 
    
}

.search {
    display: inline-block;
}

.search-merge {
    display: flex;
    flex-direction: row;
    svg {
        color: #00cc00;
        font-size: 4em;
    }
    .search-content-title {
        flex-direction: column;
        text-align: left;
    }
}
    
